.container{
   width: 1180px;
   margin: 0 auto;
   box-sizing: border-box;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.app {
   flex: 1 1 auto;
}
.second__content {
   display: grid;
   grid-template-columns: 560px 440px;
   max-width: 1040px;
   margin: 0 auto;
   padding-top: 50px;
}
.content__interactive{
   padding-left: 40px;
}